*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

.top-container{
    background-color: hsl(0, 0%, 87%);;
}

a{
    cursor: pointer;
    text-decoration: none;
    color: #000000
}

.header {
    background-color:hsl(0, 0%, 87%);
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15% 0 15%;
    padding-top: 15px;
    font-size: 28px;
    font-weight: 900 ;
}

nav a{
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 400;
    list-style: none;
    text-decoration: none;
    position: relative;
    color:hsl(0, 0%, 0%);
    transition: 0.6s;
}
nav a+a{
    margin-left: 20px;
}

nav a::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: black;
    transition: all .2s;
}

nav a:hover::before{
    width: 100%;

}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 0 15% 0 15%;
    height: 415px;
}

.hero h1 {
    font-size: 45px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 23px;
    text-align: justify;
    margin-bottom: 15px;
}

.hero img {
    height: 350px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.btn_open-account {
    background-color: hsl(0, 0%, 87%);
    border-radius: 15px;
    font-size: 17px;
    font-weight: 900;
    padding: 5px 20px;
    transition: 0.2s;
    border:1px solid hsl(0, 0%, 0%);
    cursor: pointer;
    &:hover {
        border:1px solid hsl(0, 0%, 0%);
        background-color: hsl(0, 0%, 74%);
    }
}

.mid-section{
    background-color: hsl(0, 0%, 96%);
}

.services{
    margin: 0 15% 0 15%;
    height: 415px;
}

.services p {
    display: flex;
    justify-content: center;
    font-size: 28px;
    font-weight: 900;
    padding: 25px 0;
}

.gallery {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.square{
    width: 225px;
    height: 225px;
    border: 2px solid hsl(0, 0%, 60%);
    border-radius: 15px;
    margin-bottom: 10px;
    transition: 0.2s;
}

.square:hover {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.container{
    text-wrap: wrap;
    text-align: center;
    font-size: 17px;
    font-weight: 500;
    width: 225px;
    height: 300px;
}

a